<div class="card about-section fade-in">
  <h3>About Me</h3>
  <p>
    An ambitious, hardworking and passionate designer. I seek to contribute my skills and design esthetic to assist in creating stylish, sealable fashion. A fast learner and eager to challenge myself. I aspire to continually grow and further develop my talent within the industry.
  </p>
  <div class="divider"></div>
  <h3>Education</h3>
  <div class="education-details">
    <span class="edu-years">2021 To 2025</span><br>
    <span class="edu-uni">Islamia University Bahawalpur</span><br>
    <span class="edu-degree">Bachelor of Fine Art (BFA)</span><br>
    <span class="edu-major">Major in Fashion Design</span>
  </div>
</div>
