<section class="about-section fade-in">
  <h3>About Me</h3>
  <p>
    An ambitious, hardworking and passionate designer. I seek to contribute my skills and design esthetic to assist in creating stylish, sealable fashion. A fast learner and eager to challenge myself. I aspire to continually grow and further develop my talent within the industry.
  </p>
  <h3>Education</h3>
  <p>
    <strong>2021 To 2025</strong><br>
    <strong>Islamia University Bahawalpur</strong><br>
    Bachelor of Fine Art (BFA)<br>
    Major in Fashion Design
  </p>
</section>
