<div class="card work-section fade-in">
  <h3>Work Experience</h3>
  <div class="work-item">
    <strong>Winsome Radical School Sanjarpur (Sadiqabad)</strong><br>
    <span class="work-duration">6 Months</span><br>
    <span class="work-role">As a fine art teacher</span>
  </div>
  <div class="divider"></div>
  <div class="work-item">
    <strong>Shaikhwani Production House Bahawalpur</strong><br>
    <span class="work-duration">3 Months</span><br>
    <span class="work-role">2 Months <em>Internship</em> as a Fashion Designer</span><br>
    <span class="work-role">1 Month job as a fashion designer</span>
  </div>
   <div class="work-item">
    <strong>Phulkari by Taana Baana</strong><br>
    <span class="work-duration">2 Years</span><br>
    <span class="work-role">Job as Fashion Designer</span><br>
  </div>
</div>
